#code{
    min-height: 40vh;
    /* width: 70%; */
    overflow-y: hidden;
}

#result{
    min-width: 50vw;
    min-height: 10vh;
    resize: none;
}

#input{
    min-height: 10vh;
    min-width: 50vw;
    resize: none;
    overflow-y: hidden;
}

.IDE-board {
    width: 100%!important;
    padding-right: 20px!important;
}

